<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AppMenuConfigMapper">

	<select id="listMenuConfigs" parameterType="pd" resultType="pd">
		select
			t.ID,
			t.IMG_NAME,
			t.IMG_DESC,
			t.FILE_NAME,
			t.REAL_NAME,
			t.ENABLED,
			d.DIC_VALUE ENABLED_VALUE,
			t.UPDATED_DT
		from app_menu_config t
		left join sys_dictionary d on d.DIC_KEY = t.ENABLED
	</select>
	
	<select id="listMenus" parameterType="pd" resultType="pd">
		select
			t.IMG_NAME,
			t.IMG_DESC,
			t.FILE_NAME
		from app_menu_config t
		where t.ENABLED = 'Z001001'
		order by t.SORT ASC
	</select>
	
	<select id="findByName" parameterType="pd" resultType="pd">
		select
			t.IMG_NAME,
			t.IMG_DESC,
			t.FILE_NAME,
			t.ENABLED
		from app_menu_config t
		where t.IMG_NAME = #{imgName}
		<if test="id != null" >
			and t.ID != #{id}
		</if>
	</select>

	<update id="update" parameterType="pd">
		update app_menu_config t
		<set>
			<if test="imgName != null" >
				t.IMG_NAME = #{imgName},
			</if>
			<if test="imgDesc != null" >
				t.IMG_DESC = #{imgDesc},
			</if>
			<if test="fileName != null" >
				t.FILE_NAME = #{fileName},
			</if>
			<if test="realName != null" >
				t.REAL_NAME = #{realName},
			</if>
			<if test="sort != null" >
				t.SORT = #{sort},
			</if>
			<if test="enabled != null" >
				t.ENABLED = #{enabled},
			</if>
			<if test="menuCode != null" >
				t.MENU_CODE = #{menuCode},
			</if>
			<if test="updatedDt != null" >
				t.UPDATED_DT = #{updatedDt},
			</if>
			<if test="updatedUserId != null" >
				t.UPDATED_USER_ID = #{updatedUserId},
			</if>
		</set>
		where t.ID = #{id}
	</update>

</mapper>