<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AppSlideshowConfigMapper">

	<select id="listSlideshowConfigs" parameterType="pd" resultType="pd">
		select
			t.ID,
			t.IMG_NAME,
			t.IMG_LINK,
			t.FILE_NAME,
			t.REAL_NAME,
			t.ENABLED,
			d.DIC_VALUE ENABLED_VALUE,
			t.UPDATED_DT
		from app_slideshow_config t
		left join sys_dictionary d on d.DIC_KEY = t.ENABLED
	</select>
	
	<select id="listSlideshows" parameterType="pd" resultType="pd">
		select
			t.IMG_NAME,
			t.IMG_LINK,
			t.FILE_NAME
		from app_slideshow_config t
		where t.ENABLED = 'Z001001'
		order by t.SORT ASC
	</select>
	
	<select id="findByName" parameterType="pd" resultType="pd">
		select
			t.IMG_NAME,
			t.IMG_LINK,
			t.FILE_NAME
		from app_slideshow_config t
		where t.IMG_NAME = #{imgName}
		<if test="id != null" >
			and t.ID != #{id}
		</if>
	</select>
	
	<select id="findById" parameterType="pd" resultType="pd">
		select
			t.IMG_NAME,
			t.IMG_LINK,
			t.FILE_NAME,
			t.ENABLED
		from app_slideshow_config t
		where t.ID = #{id}
	</select>
	
	<insert id="save" parameterType="pd">
		insert into app_slideshow_config
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				ID,
			</if>
			<if test="imgName != null" >
				IMG_NAME,
			</if>
			<if test="imgLink != null" >
				IMG_LINK,
			</if>
			<if test="fileName != null" >
				FILE_NAME,
			</if>
			<if test="realName != null" >
				REAL_NAME,
			</if>
			<if test="sort != null" >
				SORT,
			</if>
			<if test="enabled != null" >
				ENABLED,
			</if>
			<if test="createdDt != null" >
				CREATED_DT,
			</if>
			<if test="createdUserId != null" >
				CREATED_USER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
				#{id},
			</if>
			<if test="imgName != null" >
				#{imgName},
			</if>
			<if test="imgLink != null" >
				#{imgLink},
			</if>
			<if test="fileName != null" >
				#{fileName},
			</if>
			<if test="realName != null" >
				#{realName},
			</if>
			<if test="sort != null" >
				#{sort},
			</if>
			<if test="enabled != null" >
				#{enabled},
			</if>
			<if test="createdDt != null" >
				#{createdDt},
			</if>
			<if test="createdUserId != null" >
				#{createdUserId},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="pd">
		update app_slideshow_config t
		<set>
			<if test="imgName != null" >
				t.IMG_NAME = #{imgName},
			</if>
			<if test="imgLink != null" >
				t.IMG_LINK = #{imgLink},
			</if>
			<if test="fileName != null" >
				t.FILE_NAME = #{fileName},
			</if>
			<if test="realName != null" >
				t.REAL_NAME = #{realName},
			</if>
			<if test="sort != null" >
				t.SORT = #{sort},
			</if>
			<if test="enabled != null" >
				t.ENABLED = #{enabled},
			</if>
			<if test="updatedDt != null" >
				t.UPDATED_DT = #{updatedDt},
			</if>
			<if test="updatedUserId != null" >
				t.UPDATED_USER_ID = #{updatedUserId},
			</if>
		</set>
		where t.ID = #{id}
	</update>

	<delete id="delete" parameterType="pd">
		delete t.* from app_slideshow_config t
		where t.ID = #{id}
	</delete>

</mapper>